<h1>Places I have been:</h1>

<% for place in @places %>
  <li>
      <a href="/places/<%= place["id"] %>"><%= place["name"] %></a>
    </li>
<% end %>

<p>
  <a href = "places/new" > Enter a New Place </a>
</p>